section{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 70%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 20px;
}
.h1{
    font-size: 25px;
    font-weight: 500;
    margin: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
    align-items: center;
}
p{
    line-height: 32px;
}
img{
    height: 400px;
    width: 90%;
    border-radius: 20px;
    border: 0.5px solid white;
}
.hr{
    margin: 10px;
    width: 100%;
    height: 0.5px;
    background-color: gray;
}

:host ::ng-deep{
    .p-tag{
        font-size: 12px;
        font-weight: 500;
        opacity: 90%;
        background-color: rgb(172, 255, 172);
        color: green;
    }
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
.tag{
    background-color: rgb(255, 206, 243);
    color: rgb(215, 0, 165);
    font-size: 12px;
    padding: 2px 8px 2px 8px;
    font-weight: 500;
    border-radius: 10px;
}
.footer{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
i{
    font-size: 18px;
}

.pi-heart:hover{
    color: rgb(255, 11, 202);
}
.pi-bookmark:hover{
    color: greenyellow;
}

.blog-user-deatails{
    display: flex;
    gap: 10px;
}

.user-name{
    font-size: 14px;
    color: white;
}
.read-time{
    color: gray;
    font-size: 10px;
}

.quote{
    font-style: italic;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: rgba(127, 255, 212, 0.237);
}
.quote:hover{
    background-color: rgba(0, 0, 0, 0.479);
    color:greenyellow;
}