<section>
    <form (ngSubmit)="blogSubmit()" class="wrapper">
        <div class="second-wrapper">
            <div style="display: flex;align-items: center;justify-content: center;">
                <span class="newBlog">New Blog</span>
            </div>
            <p-divider></p-divider>
            <div class="wrapper-space">
                <input class="titleinput" placeholder="Title"[(ngModel)]="title" name="title"/>
                <span #contenteditable class="textarea" role="textbox" contenteditable (input)="onContentChange()" name="content"></span>
                <div class="p-fluid">
                    Tags
                    <p-chips [(ngModel)]="tags" name="tags"/>
                </div>
                <div class="p-fluid">
                    Categories
                    <p-chips [(ngModel)]="categories" name="categories"/>
                </div>
                <input class="quoteinput" placeholder="Type Quote" [(ngModel)]="quotes" name="quotes"/>
            </div>
            <div class="card flex justify-content-center">
                <input id="fileInput"  type="file" (change)="onUpload($event)" accept=".jpg,.jpeg,.png" style="display: none;"/>
                <label for="fileInput" class="custom-file-upload">{{button}}</label>
            </div>
            <div>
                <img [src]="imageUrl"/>
            </div>
            <div style="display: flex;align-items: center;justify-content: center;">
                <p-button type="submit">submit</p-button>
            </div>  

        </div>
        
        <footer>Explore and Discuss your thoughts with us!</footer>
    </form>
</section>