<div class="successSection" *ngIf="successVisible">
    <div class="successCard" [ngClass]="{'initialBlur': isBlurred, 'finalState': !isBlurred}">
        Blog Posted Successfully!
    </div>
</div>
<section [ngStyle]="{'opacity':sectionOpacity}">
    <form (ngSubmit)="blogSubmit()" class="wrapper">
        <div class="second-wrapper">
            <div style="display: flex;align-items: center;justify-content: center;">
                <span class="newBlog">New Blog</span>
            </div>
            <p-divider></p-divider>
            <div class="wrapper-space">
                <div class="input">
                    <input class="titleinput" placeholder="Title"[(ngModel)]="title" name="title"/>
                    <span class="input-error" *ngIf="titlecond">{{titlemsg}}</span>
                </div>
                <div class="input">
                    <span #contenteditable class="textarea" role="textbox" contenteditable (input)="onContentChange()" name="content"></span>
                    <span class="input-error" *ngIf="contentcond">{{contentmsg}}</span>
                </div>
                <div class="input">
                    <div class="p-fluid">
                        Tags
                        <p-chips [(ngModel)]="tags" name="tags"/>
                    </div>
                    <span class="input-error" *ngIf="tagcond">{{tagsmsg}}</span>
                </div>
                <div class="input">
                    <div class="p-fluid">
                        Categories
                        <p-chips [(ngModel)]="categories" name="categories"/>
                    </div>
                    <span class="input-error" *ngIf="categoriescond">{{categoriesmsg}}</span>
                </div>
                <div class="input">
                    <input class="quoteinput" placeholder="Type Quote" [(ngModel)]="quotes" name="quotes"/>
                    <span class="input-error" *ngIf="quotescond">quotesmsg</span>
                </div>
            </div>
            <div class="input">
                <div class="card flex justify-content-center ">
                    <input id="fileInput"  type="file" (change)="onUpload($event)" accept=".jpg,.jpeg,.png" style="display: none;"/>
                    <label for="fileInput" class="custom-file-upload">{{button}}</label>
                </div>
                <span class="input-error" *ngIf="selectedFilecond">{{selectedFilemsg}}</span>
            </div>
            <div style="display: flex;align-items: center;justify-content: center;">
                <p-button type="submit">submit</p-button>
            </div>  

        </div>
        
        <footer>Explore and Discuss your thoughts with us!</footer>
    </form>
</section>

