<section>
</section>
<div style="display: flex;width: 97.5%;align-items: center;height: 220px;gap: 20px;">
    <img [src]="imgsrc"/>
    <div class="content">
        <p-tag severity="info" value="Trending" [rounded]="true"></p-tag>
        <span class="blog-title">How To Be Productive In The 2024</span>
        <span>
            We provide some essential tricks and tips for experts.Consistency is as key so Follow it.
        </span>
        <div class="blog-user-deatails">
            <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" 
            styleClass="mr-2" 
            shape="circle" />
            <div class="blog-name-time">
                <span class="user-name">Aegon Targaryan</span>
                <span class="read-time">10min read</span>
            </div>
        </div>
    </div>
</div>