/* @import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css"; */

body {
    background-color: #00041a;
    font-family: 'Poppins', sans-serif
}
.p-component{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}

.ui-button{
    background-color: #00041a;
}


/* Add for other PrimeNG components as needed */

