<section class="card">
    <div class="background">
    </div>
    <section class="sub-card">
        <img src="https://images.unsplash.com/photo-1469474968028-56623f02e42e?q=80&w=1774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
        
        <p-tag severity="info" value="Category" [rounded]="true"></p-tag>
        
        <span class="blog-title">Blog post title</span>
        <span class="sub-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</span>
        <div style="display: flex; align-items: center;justify-content: space-between;">
            <div class="blog-user-deatails">
                <p-avatar 
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" 
                styleClass="mr-2" 
                shape="circle" />
                <div class="blog-name-time">
                    <span class="user-name">Aegon Targaryan</span>
                    <span class="read-time">10min read</span>
                </div>
            </div>
            <i class="pi pi-arrow-up-right" ></i>
        </div>
    </section>
</section>