<section class="card">
    <div class="background">
    </div>
    <section class="sub-card">
        <img src={{blog.image}}/>
        
        <p-tag severity="info" value="Category" [rounded]="true"></p-tag>
        
        <span class="blog-title">{{blog.title}}</span>
        <span class="sub-para">{{content}}...</span>
        <div style="display: flex; align-items: center;justify-content: space-between;">
            <div class="blog-user-deatails">
                <p-avatar 
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" 
                styleClass="mr-2" 
                shape="circle" />
                <div class="blog-name-time">
                    <span class="user-name">{{userName}}</span>
                    <span class="read-time">10min read</span>
                </div>
            </div>
            <i class="pi pi-arrow-up-right" ></i>
        </div>
    </section>
</section>